.App {
  text-align: center;
}




.App-header {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

canvas { 
    border: 2px solid black;
}

li { 
    list-style-type: None;
}

button {
    font-size: 30px;
}

.tool-menu { 
    display: flex;

}

.tab { 
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid black;
}

.tab:hover { 
    background-color: #dddddd
}

.tab.active { 
    background-color: #777777; 
    color: white;
}